.body {
    background-color: rgb(255, 203, 91);
    font-family: "Michroma", sans-serif;
}

.text {
    padding: 20px;
    color: white;
}

.text-centered {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    color: white;
}

.text-left {
    color: white;
    text-align: left;
    margin: 0px;
    padding: 20px;
}

.text-centered-big {
    padding: 20px;

    text-align: center;
    margin: 0 auto;

    color: white;

    font-size: larger;
}

.space-age {
    margin: 0px;
}

.lang-changer {
    margin: 0px;
}

.ukranian {
    width: 50px;
    height: 25px;
}

.english {
    width: 50px;
    height: 25px;
}

.title-wrapper {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

.short-description-wrapper {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

.the-beginings-wrapper {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

.procesed-basic-resourses {
    display: flex;      
    flex-wrap: wrap;     
    justify-content: center; 
    gap: 30px;            
    padding: 20px;
    max-width: 1200px;     
    margin: 0 auto;       
}

.procesed-basic-resourses > div {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    text-align: center;   
    width: 150px;           
}

.raw-basic-resourses {
    display: flex;      
    flex-wrap: wrap;     
    justify-content: center; 
    gap: 30px;            
    padding: 20px;
    max-width: 1200px;     
    margin: 0 auto;       
}

.raw-basic-resourses > div {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    text-align: center;   
    width: 150px;           
}

.basic-crafting-recepies {
    display: flex;      
    flex-direction: column;  
    gap: 40px;              
    padding: 20px;
    max-width: 1200px;     
    margin: 0 auto; 
}

.iron-plates-recepie, 
.steel-recepie,
.assembler-recepie,
.copper-plates-recepie,
.iron-gears-recepie,
.copper-cable-recepie,
.green-circuit-recepie {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;       
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;            
}

.iron-plates-recepie > div,
.steel-recepie > div,
.assembler-recepie > div,
.copper-plates-recepie  > div,
.iron-gears-recepie > div,
.copper-cable-recepie > div,
.green-circuit-recepie > div {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    text-align: center;   
    width: 100px;           
}

.image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    image-rendering: pixelated; 
    image-rendering: crisp-edges; 
}

.image-for-crafting {
    width: 75px;
    height: 75px;
    object-fit: contain;
    image-rendering: pixelated; 
    image-rendering: crisp-edges; 
}
